* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #fdfdfd;
  color: #111;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  background: black;
  color: white;
  position: sticky;
  top: 0;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #25D366;
}

/* HERO */
.hero {
  text-align: center;
  padding: 100px 20px;
  background: linear-gradient(to right, #000, #333);
  color: white;
}

.hero h1 {
  font-size: 3rem;
}

.hero-buttons {
  margin-top: 30px;
}

/* BUTTONS */
.btn {
  padding: 14px 30px;
  border-radius: 12px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  margin: 10px;
  transition: 0.3s;
}

.whatsapp {
  background: #25D366;
  color: white;
}

.pay {
  background: gold;
  color: black;
}

.btn:hover {
  transform: scale(1.05);
}

.big {
  font-size: 18px;
}

/* SECTIONS */
.section {
  padding: 80px 20px;
  text-align: center;
}

.subtitle {
  margin: 15px 0 40px;
  color: #555;
}

/* GALLERY */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  max-width: 1100px;
  margin: auto;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 18px;
  box-shadow: 0 0 15px rgba(0,0,0,0.15);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

.card img {
  width: 100%;
  border-radius: 15px;
}

.price {
  margin-top: 10px;
  font-weight: bold;
}

/* SERVICES */
.service-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.service-card {
  max-width: 320px;
  background: #f9f9f9;
  padding: 25px;
  border-radius: 18px;
  box-shadow: 0 0 12px rgba(0,0,0,0.12);
}
